{% extends 'base4.html' %}

{% block conteudo %}





<!--
<div class="container border">
  <div class="row">
    <div class="col-2">
      <div class="row mt-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-5"></div>
    <div class="col-5">
      <div class="container border">
        <div class="row"> 
          <div class="col-6">
            <div class="container">
              <div class="row justify-content-center mt-4">
                <div class="col-3">
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="position('fw')">&#8593;</button>
                  </div>
                </div>
              </div>
              <div class="row mt-1 mb-1">
                <div class="col-2"></div>
                <div class="col-3">
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="position('left')">&#8592;</button>
                  </div>
                </div>
                <div class="col-2"></div>
                <div class="col-3">
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="position('rigth')">&#8594;</button>
                  </div>
                </div>
                <div class="col-2"></div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col-3">
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="position('bw')">&#8595;</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="container">
              <div class="row justify-content-center mt-4">
                <div class="col-3">
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="position('fw')">&#8593;</button>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mb-4 mt-5">
                <div class="col-3">
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="position('bw')">&#8595;</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center mb-4 mt-4">
            <div class="col-6">
              <form id="myForm" action="/personalized" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" id="gCode" placeholder="Example: G28" name="gCode">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="container">
          <br>
          <div class="row">
            <div class="col-3">
              <div class="mb-3">
                <h5 class="display-8 ms-1" id="parametroRecebido">T =</h5>          
              </div>              
            </div>
          </div>
        </div>
        <div class="container">
          <br>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <form id="file" method="POST" action="/upload" enctype="multipart/form-data">
                  <input type="file" name="arquivo" class="form-control">
                  <button type="submit" class="btn btn-primary mt-2">Enviar</button>
                </form>              
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<script>
    //======================================================================================================
    // Envio Gcode Personalizado
    $(document).ready(function() {
      $('#myForm').submit(function(e) {
        e.preventDefault(); // Impede o envio padrão do formulário
        
        var gCodeValue = $('#gCode').val(); // Obtém o valor do campo gCode
        
        $.ajax({
          type: 'POST', // Método HTTP (pode ser POST ou GET, dependendo do seu caso)
          url: $(this).attr('action'), // URL para onde enviar os dados
          data: { gCode: gCodeValue }, // Envia apenas o valor do campo gCode
        });
      });
    });
    //======================================================================================================
    // Envio do Arquivo Gcode
    $(document).ready(function() {
      $('#file').submit(function(e) {
        e.preventDefault(); // Impede o envio padrão do formulário
        
        var file = new FormData(this);
        
        $.ajax({
          type: 'POST', // Método HTTP (pode ser POST ou GET, dependendo do seu caso)
          url: '/upload', // URL para onde enviar os dados
          data: file,
          processData: false,
          contentType: false,
        });
      });
    });
    //======================================================================================================
    // Envio das Posições pelos Botões
    function position(value) {
      $.ajax({
      type: 'POST',
      url: '/position',
      data: {value : value},
      });
    }
    //======================================================================================================
    //Recebimento Assincrono da Temperatura
    $(document).ready(function() {
      const parametroElement = $('#parametroRecebido');

      function fazerRequisicaoGET() {
        $.get('/get-temp', function(data) {
          const parametroRecebido = new URLSearchParams(data).get('temp');
          parametroElement.text(`T = ${parametroRecebido}°C`);
        }).fail(function(error) {
          console.error('Erro ao fazer a requisição:', error);
        });
      }
      // Executar a função inicialmente
      fazerRequisicaoGET();
      // Executar a função a cada 5 segundos (5000 milissegundos)
      setInterval(fazerRequisicaoGET, 5000);
    });
    //======================================================================================================

  </script>

{% endblock %}